*.o
*.a
*.lo
*.la
*.stamp
*.bak
*.tmp
.tm*
~*

/autom4te.cache

/aclocal.m4
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/gtk-doc.make
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libbonobo-zip
/libtool
/ltmain.sh
/missing
/mkinstalldirs
Makefile
Makefile.in
/stamp-h1
